/* CHECKOUT form*/

fieldset {
 border: none;
 
}

main .checkout-form {
    padding-bottom: 3em;
    max-width: 400px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: beige;
    margin-left: 1em;
    margin-right: 2.2em;
}

label {
    display: flex;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 22px;
}

.cta-proceed-pay {
    max-width: 100%;
    height: auto;
    background-color: blue;
    font-weight: 100;
    padding: 8px 3.4em;
    border-radius: 2px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    margin-left: 0.9em;

}

.cta-proceed-pay:hover {
    background-color: #ffffff;
    color: blue;
}

h1 {
    margin-left: 0.7em;
}

