/* checkout page*/

.form__input {
    border-left-width: 0px;

}

.checkout-form {
    max-width: 600px;
    padding-left: 5em;
    padding-bottom: 2em;
    color: #FFFFFF;
}

/* styles for contact label*/
       
