/* Flex (that WORKS) for the 4 images at Index */

main {
    width: 100%;
    border: 1px solid black; /* To outline where the container is*/
    margin: auto; /* To always center the container*/
   
  }
  .flex {

    display: flex;
    gap: 0.1rem ;
    margin-top: -10em;
    padding-top: 10em;
    flex-wrap: wrap; 
    justify-content: center; /* the container always centers the content */
    p {
      font-size: 14px;
    }
  }

  .flex div {
    width: 150px;
    text-align: center;
    background: #101010;
    margin-right: 0.3em;

    flex-grow: 1; 
    flex-direction: column; 
    padding: 0.5em;
  }

  .flex h2 {
    font-weight: 200;
    font-size: 18px;
  }


  .img {
    display: block;
    margin: 0 auto; 
    max-width: 100%; 
  }