/* Flex for the 4 images at Index */

main {
    width: 100%;
    margin: auto;
   
  }
  .flex {
    display: flex;
    gap: 0.1rem;
    flex-wrap: wrap;
    justify-content: center;

p {
      font-size: 14px;
    }

}

  .flex div {
    width: 150px;
    text-align: center;
    background: #101010;
    flex-grow: 1;
    flex-direction: column;
    padding: 2em;
    margin: 0.2em 1em;
  }

  .flex h2 {
    font-weight: 200;
    font-size: 18px;
  }


  .img {
    display: flex;
    margin: 0 auto; 
    max-width: 100%; 
  }