 /* Flex for 4 small images in bottom index page*/
aside {
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    margin: auto;
  }

  .flex4 {

    display: flex;
    gap: 0.1rem ; 
    flex-wrap: wrap; 
    justify-content: left; 
    h4 {
      font-weight: 200;
    }
  }

  .flex4 div {
    width: 150px;
    text-align: center;
    background: #000000;
    margin-right: 0.3em;
    flex-direction: column;
    padding-top: 0.4em;

  }

  .img {
    display: flex;
    margin: 0 auto; /* Center the image horizontally */
    max-width: 100%;

  }

  /*This is 4 small images down at the footer*/

.custom-image1,
.custom-image2,
.custom-image3,
.custom-image4 {
  height: auto;
  max-width: 100%;
  
}

/*This is Priscilla*/
.custom-image1 {
  width: 5.8em;
}

/*This is Salt*/
.custom-image2 {
  width: 6.2em;
  margin: 0%;
}

/*Hunger*/
 .custom-image3 {
  width: 8.8em;
  margin-left: 1.5em;
  padding-top: 3.7em;
 }

 .custom-image4 {
  width: 8.8em;
  margin-left: 1.5em;
  padding-top: 3.7em;
 }
