/* Flex for the 4 images at Index */

main {
    width: 100%;
    margin: auto;
   
  }
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex p {
  font-size: 14px;
  margin-top: -1em;
}

  .flex div {
    width: 150px;
    text-align: center;
    background-color: #1c0312;
    flex-grow: 1;
    padding: 1em;
    margin: 0.2em 0.2em;
    border-radius: 0.3em;
  }

  .flex h2 {
    font-weight: 200;
    font-size: 18px;
  }


  .img {
    display: flex;
    margin: 0 auto; 
    max-width: 100%; 
  }