
.material-symbols-outlined {
    font-size: 6em;
    color: #00ad00;
    margin-top: 0.5em;
}

.success {
    text-align: center;
    font-size: 18px;
    color: black;
    margin-bottom: 3em;
    font-family: abel, Verdana, Geneva, Tahoma, sans-serif;
}

.success h1 {
    margin-bottom: 1.5em;
}

.cta-success {
    display: flex;
    justify-content: center;
    align-items: center;
}
.continue-shopping {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: abel, Verdana, Geneva, Tahoma, sans-serif;
    background-color: #094515;
    color: #fff;
    cursor: pointer;
    padding: 0.9em 2em;
    border-radius: 0.5em;
    text-decoration: none;
    margin-bottom: 2em;
    margin-top: -1em;
}

