body {
    background-color: #000000;
    margin: 0 auto;
}

label, #burger-menu-checkbox {
    display: none;
}

@media (max-width: 449px) {

    body {background-color: #000000;}

    nav, #burger-menu-checkbox {
        display: none;
       }

label, #burger-menu-checkbox:checked ~ nav {
           display: block;
           color: #fff;
       }

   .logo {
   display: none;
    }
}

.burger-menu {
    font-size: 18px;
    margin-left: 0.7em;
}
