
body {
    font-family: Arial, sans-serif;
}

fieldset {
    max-width: 400px;
    margin-right: 2em;
}

main {
    max-width: 100%;
    height: auto;
}

main p {
    font-size: 14px;
    
}

main #payment-form {
    max-width: 100%;
    height: auto;
    padding-bottom: 3em;
}

aside {
    margin-bottom: 2em;
}

form {
    max-width: 100%;
    height: auto;
    margin-left: 0.5em;
}

label {
    display: block;
    margin-bottom: 8px;
    max-width: 400px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
}

#payment-form {
    max-width: 100%;
    height: auto;
    color: #dddddd;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: 14px;
    margin-top: 3em;
}

#cta-pay {
    max-width: 100%;
    max-height: auto;
    background-color: #0000ff;
    padding: 0.5em 7em;
    border-radius: 2px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;

}

#cta-pay:hover {
    background-color: #ffffff;
    color: #0000ff;
}

h1 {
    margin-left: 0.6em;
}
p {
    margin-bottom: 0;
    margin-left: 1.3em;
    height: auto;
    max-width: 400px;
}

.p-proceed {
    margin-left: 1.2em;
}

#discount-code {
    margin-bottom: 2em;
}