
/* Index1 is the landing page*/

  .background-index1 {
    background-image: url(../images/istock-purple-io.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
}

.background-light {
  background-image: url(../images/light-sideways.jpg);
  background-size: cover;
  display: flow-root;

  #logo-big-index {
    width: 15em;
    max-width: 100%;
    height: auto;
    display: flow-root;
  }
  
}

/* about page*/

.background-image1 {
  background-image: url(../images/istock-about.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2em;
  min-height: 400px;
  max-width: 100%;
  margin-top: 1.6em;

}

/* contact page */

.background-image2 {
  background-image: url(../images/camera-sky-contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 400px;
  height: auto;
  margin-top: 1em;
}

/* This is contact-submit page*/

.background-image3 {
 background-image: url(../images/earth.jpg);
 background-size: cover;
 height: auto;
 max-width: 100%;
}

#semi-circle {
 border-radius: 50%;
 height: auto;
 width: 30em;
 max-width: 100%;
 
}

.map-circle {
   max-width: 100%;
   height: auto;
   text-align: right;
}

/*This is the movies an h2 text on index page*/

.talkexcrerad-text {
  display: flex;
  max-width: 100%;
  height: auto;
  margin-left: 1.5em;
  
}

.talkexcrerad-text h2 {
  color: #ffff;
}

.talkexcrerad {
  display: flex;
  max-width: 100%;
  height: auto;
  float: right;
  margin-bottom: 1em;


  #talk {
    width: 9.6em;
    margin: 1px;
    max-width: 100%;
    height: auto;
    
  }

  #creator {
    width: 8em;
    margin: 1px;
    max-width: 100%;
    height: auto;
  }

  #radical {
    width: 8.1em;
    margin: 1px;
    max-width: 100%;
    height: auto;
  }

  #ex {
    width: 7.9em;
    margin: 1px;
    max-width: 100%;
    height: auto;
  }
  
  /*white movies is on the movie page*/

 .white-movies {
  font-size: 18px;
  color: #ffff;
  max-width: 100%;
  height: auto;
  padding-left: 0.5em;
  
 }

 .movie-images1,
 .movie-images2,
 .movie-images3,
 .movie-images4 {
  width: 13em;
  max-width: 100%;
  height: auto;
  padding-left: 0.5em;
  
 }

 #trans {
  width: 11em;
  max-width: 100%;
  height: auto;
 }

 #sav {
  width: 11em;
  max-width: 100%;
  height: auto;
 }

/*This is 4 small images down at the footer*/

.custom-image1,
.custom-image2,
.custom-image3,
.custom-image4 {
  height: auto;
  max-width: 100%;
  
}


/*This is Priscilla*/


/*This is Salt*/
.custom-image2 {
  width: 6.1em;
  margin: 0%;
}
 .custom-image3 {
  margin-right: 4.5em;
  padding-top: 3.7em;
 }

 .custom-image4 {
padding-top: 3.7em;
 }

/*This is the movie images in the cart pages*/

.transformers,
.margaret,
.radical,
.savages {
  width: 13em;
  max-width: 100%;
  height: auto;
}

