/* Background images */

  .background-index1 {
    background-image: url(../images/istock-purple-io.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
}

.background-light {
  background-image: url(../images/light-sideways.jpg);
  background-size: cover;
  
    #logo-big-index {
    width: 15em;
    max-width: 100%;
    height: auto;
   
  }
  
}
/* ABOUT */

.background-image1 {
  background-image: url(../images/istock-about.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200px;
  max-width: 100%;

}
.container2 {
  margin: 0em 1em 3em 1em;
  max-width: 300px;
  h1 i {
    margin-left: -0.1em;
  font-weight: bold;
  color: #8753CF}
  h2 {
  color: #fff1f1;
  font-style: italic;
  font-size: 22px;
  margin-top: -0.8em;
  margin-left: -0.2em;
}
  h2:hover {
  color: blue;
  text-transform: uppercase;
}
  h3 {
    color: #cecece;
  font-weight: 500;
  margin-left: 0em;
  }
  h4 {
    font-family: "Arima Madurai";
  font-size: 24px;
  margin-bottom: 2em;
  }
}

/* contact */

.background-image2 {
  background-image: url(../images/camera-sky-contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 600px;
  height: auto;
  padding-bottom: 2em;
}

.white-contact-text {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 200px;
  max-width: 100%;
  padding-left: 0.5em;
  legend {
  color: #ffeeff;
  font-size: 18px;
}
}

main {
  background-color: #000000;
  margin-top: -1.3em;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  h3 {
     margin-left: 2em;
  margin-bottom: 0px;
 }
  p {
     color: #ffff;
  font-size: 20px;
 }
}

/* CONTACT US button*/

.contact-submit {
  background-color: #212121;
  color: #FFFFFF;
  border-radius: 5px;
  font-family: exo;
  font-size: 22px;
  padding: 11px;
  text-decoration: none;
  max-width: 100%;
  height: auto;
}

.contact-submit:hover {
  text-transform: lowercase;
  color: #fb55fa
}

/* This is contact-submit page*/

.background-image3 {
 background-image: url(../images/earth.jpg);
 background-size: cover;
 height: auto;
 max-width: 100%;
 padding-top: 1px;
}

.background-image3 p {
  max-width: 250px;
  margin: 0.9em 0.5em 0em 1em;
  line-height: 1;
}

.background-image3 h1 {
  margin-left: 0.8em;
  font-size: 24px;
  font-weight: lighter;
  font-style: italic;
  font-family: exo, Verdana, Geneva, Tahoma, sans-serif;
}

#semi-circle {
 border-radius: 50%;
 margin: 0 auto;
 height: auto;
 width: 20em;
 max-width: 100%;
 
}
.map-circle {
   text-align: center;
   margin: 0 auto;
   padding: 0.5em 1em 8% 1em;
}
