
/* Index1 is the landing page*/

  .background-index1 {
    background-image: url(../images/istock-purple-io.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
}

.background-light {
  background-image: url(../images/light-sideways.jpg);
  background-size: cover;
  
    #logo-big-index {
    width: 15em;
    max-width: 100%;
    height: auto;
   
  }
  
}
/* about page*/

.background-image1 {
  background-image: url(../images/istock-about.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200px;
  max-width: 100%;

}
.container2 {
  margin-left: 2em;
  h1 i {
    margin-left: -0.1em;
    font-weight: bold;
    color: #8753CF
  }

h2 {
  color: #fff1f1;
  font-style: italic;
  font-size: 22px;
  margin-left: -0.2em;
}

h2:hover {
  color: blue;
  text-transform: uppercase;
}

  h3 {
    color: #cecece;
    font-weight: 500;
    margin-left: 0em;
  }
  h4 {
    font-family: "Arima Madurai";
    font-size: 24px;
  }

}
/* contact page */

.background-image2 {
  background-image: url(../images/camera-sky-contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 400px;
  height: auto;
  margin-top: 1em;
}
/* This is contact-submit page*/

.background-image3 {
 background-image: url(../images/earth.jpg);
 background-size: cover;
 height: auto;
 max-width: 100%;
}

#semi-circle {
 border-radius: 50%;
 height: auto;
 width: 25em;
 max-width: 100%;
 
}

.map-circle {
   max-width: 100%;
   height: auto;
   text-align: right;
}
/*This is 4 small images down at the footer*/

.custom-image1,
.custom-image2,
.custom-image3,
.custom-image4 {
  height: auto;
  max-width: 100%;
  
}

/*This is Priscilla*/
.custom-image1 {
  width: 5.8em;
}

/*This is Salt*/
.custom-image2 {
  width: 6.2em;
  margin: 0%;
}

/*Hunger*/
 .custom-image3 {
  width: 8.8em;
  margin-right: 4.5em;
  padding-top: 3.7em;
 }

 .custom-image4 {
  width: 8.8em;
padding-top: 3.7em;
 }
