/* submit button "create an account" - "sign in"*/

.sign-in {
    font-size: 16px;
    font-family: epilogue Verdana, Geneva, Tahoma, sans-serif;
    width: 13em;
    padding-bottom: 2em;
    padding-top: 0.6em;
    margin-top: 1em;
    color: #ffc3f3;
    cursor: pointer;
    border-radius: 5px;
}
/*CTA button on sign-in an sign-up*/

.sign-in-cta {
    font-size: 16px;
    font-family: epilogue Verdana, Geneva, Tahoma, sans-serif;
    width: 13em;
    padding-bottom: 2em;
    padding-top: 0.6em;
    margin-top: 1em;
    color: #000000;
    cursor: pointer;
    border-radius: 5px;
}

.background-light p {
        margin-left: 1em;
        font-size: 14px;
        font-family: epilogue, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sign-up p {
    font-size: 14px;
    color: #ffffff;
    margin-left: 1em;
    font-family: epilogue, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.sign-up {
    margin: 0em 0.5em 0em 0.3em;
    color: #ffc3f3;
    font-size: 16px;
}

/* SIGN-IN and UP ON ABOUT PAGE*/

.about-sign-in {
    p {
        font-size: 14px;
        font-family: epilogue, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;   
    }
}

.sign-in-page,
.sign-up-page {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 270px;
    max-width: 100%;
    justify-content: center;
    margin: 0 auto;
}

.sign-in-page h1 {
    margin-left: -3.8em;
    width: 4em;
}

.sign-up-page h1 {
 margin-left: -1.8em;
 width: 6em;
}

fieldset {
    height: 10em;
    border: none;
}

input {
    width: 15em;
    height: 2em;
    border-radius: 5px;
}

input .sign-in {
    margin-top: 1em;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    font-family: epilogue, Verdana, Geneva, Tahoma, sans-serif
}

@media (min-width: 451px) {
 .in label {
  display: block;
 }
}
