
.logo {
    width: 6em;
    height: auto;
    padding-top: 0.4em;
    }

   header {
        background-color: #1c0312;
        padding-bottom: 0.1em;
   }

/* Links in nav / :-burger-menu */

@media (min-width: 447px) {
    nav li, ul {
        display: flex;
        gap: 1em;
        margin-right: 0.5em;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
  }

   nav li {
    max-width: 100%;
    height: auto;
    line-height: 1.8em;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }

  ul {
    padding: 0;
  }

   nav a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 0.2em;
    max-width: 100%;
    font-weight: 300;
}
   
nav a:hover {
    color: #6f4a63;
}

.active {
    color: #FFFFFF;
    border-radius: 0.2em;    
}

/*This is to h1-h6*/

    h1 {
    font-family: 'Exo 2', Arial, verdana, sans-serif;
    font-size: 30px;
    padding-right: 0.3em;
    padding-bottom: 0.2em;
}

    h2 {
    font-family: "Exo 2", Verdana, Geneva, Tahoma, sans-serif;  
}
/* upcoming releases/ background image1*/

   h3 {
   font-weight: 500;
   font-size: 22px;
   color: #FFF;
   }

    h4 {
    font-size: 16px;
    color: #FFF;
}

aside p {
font-size: 14px;
color: #B7AA91;
font-family: exo Verdana, Geneva, Tahoma, sans-serif;
    
}
#aside-4pic-down {
background-color: #000;
}

/* "easy access to your favorite movies on index page"*/

div .margin-0-auto {
    margin-top: 1em;
    text-align: center;
    align-items: center;
    
.button-watch-now {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: #32202d;
    font-family: exo;
    font-size: larger;
    padding: 1em 4em;
    text-decoration: none;
    max-width: 20%;
    color: #ffffff;
    border-radius: 5px;
    }
   }

    .button-watch-now:hover {
        text-transform: uppercase;
    }

    @media (max-width: 2560px) {
        div .margin-0-auto {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
        }
      }

      @media (max-width: 2560px) {
        .button-watch-now {
            flex-direction: column;
            justify-content: center;
        }
      }
    
      