
/* Index1 is the landing page*/

  .background-index1 {
    background-image: url(images/istock-purple.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

  .text-index1 {
    color: #ffff;
    display: flex;
    
  }

  /*This is the movies on index page*/

  .movies-index1 {
    height: auto;
    display: flex;
  }

  .logo-big-index {
    height: auto;
    width: 20em
  }

.movie-images1,
.movie-images2,
.movie-images3,
.movie-images4, a {
  text-decoration: none;
  list-style: none;
  color: #fa87fa;

}

.movie-images1 {
  width: 15em;
}
 .movie-images2 {
  width: 15em;
 }

 .movie-images3 {
  width: 15em;
 }

 .movie-images4 {
  width: 15em;
 }

 .white-movies {
  width: 13em;
  padding-left: 6em;
  padding-top: 4em;
  color: #ffff;
 }
 .background-image1 {
   background-image: url(images/istock-about.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   padding: 2em;
   min-height: 400px;

}

.background-image2 {
   background-image: url(images/camera-sky-contact.jpg);
   background-size: cover;
   padding: 2em;
   background-repeat: no-repeat;
   max-width: auto;
   min-height: 400px;
}


/* This is contact-submit page*/

.background-image3 {
  background-image: url(images/earth.jpg);
  background-size: cover;
  min-height: 40em;
}

.semi-circle {
  border-radius: 50%;
  height: auto;
  width: 30em;
  
}

.map-circle {
    padding-left: 42em;
    padding-bottom: 8em;
}

/*This is 4 small images down at the footer*/

.custom-image1,
.custom-image2,
.custom-image3,
.custom-image4 {
  width: 5em;
  float: left;


}

/*This is images in the 4 cart pages*/

.transformers {
  width: 13em;
  padding-left: 32em;
  padding-top: 2em;
}

.margaret {
  width: 13em;
  padding-left: 32em;
  padding-top: 2em;
}

.radical {
  width: 13em;
  padding-left: 32em;
  padding-top: 2em;
}

.savages {
  width: 13em;
  padding-left: 32em;
  padding-top: 2em;
}


