
.image-content {
    display: flex;
    padding: 0;
    float: right;
    max-width: 100%;
    margin: 5%;
  }
  

 @media (max-width: 768px) {
 .movie-images1 { 
   float: right;
   
 }
 }


 .custom-image1,
 .custom-image2,
 .custom-image3,
 .custom-image4 {
   max-width: 80px;
   margin: 0%;
   padding: 0%;
   height: auto;
   width: 100%;
   
 }


 .background-image1 {
   background-image: url(images/istock-about.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   padding: 30px;

}

.background-image2 {
   background-image: url(images/camera-sky-contact.jpg);
   background-size: cover;
}
 
.movie-images1 {
   width: 50%;
   height: auto;
   float: right;
   scale: 50%;

}

.movie-images2 {
   width: 100%;
   height: auto;
   float: right;

}

.movie-images3 {

}

.movie-images4 {

}