body {
    background-color: #1e001e;
    font-family: 'Exo 2', Tahoma, Geneva, Verdana, sans-serif;
    
    }

    .logo {
        width: 10%;
        height: auto;
        padding-top: 0.4em;
    }

    header {
        height: auto;
        width: 100%;
    }

/*Container is to aboutndcontact page*/

.container {
    font-family: "Exo 2", Verdana, Geneva, Tahoma, sans-serif
    text-align: left;
    line-height: 1.1;
    color: #ffff;
    width: 13em;
    padding-left: 5em;
    padding-top: 4em;

}

.container h1 {
    color: #9e0096;
}

.container h2 {
    color: #9e0096;
    font-family: "arima", Verdana, Geneva, Tahoma, sans-serif
}

.white-label {
    width: 20em;
    padding-left: 45em;
    padding-bottom: 10em;
    color: #FFFFFF;
}

.white-contact-text {
    width: 20em;
    padding-left: 40em;
    padding-bottom: 2em;
    color: #FFFFFF;

}

/*white, purple, h4 and item is to cart pages*/

.white {
    color: #FFFFFF;
  
}

.purple {
    color: #fb55fa;
    width: 13em;
    padding-left: 32em;
    padding-top: 2em;

}

h4 {
    padding-left: 32em;
}

.total-item {
    padding-left: 32em;
    color: #ffff;
}


/*This is to the Index page*/

h1 {
    font-family: 'Exo 2', Arial, verdana, sans-serif;
    color: #FFFFFF;
    font-size: 40px;
}
  
h2 {
    font-family: "Exo 2", Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}

nav {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 1em;
    padding-left: 0.8em;
    padding-bottom: 1.2em;
}


nav li {
    margin: 0;
    width: 8%;
    height: auto;
    padding: 0;


    
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 0.4em;

}

.active {
    background-color: #fb55fa;
    color: #FFFFFF ;
    border-radius: 0.2em;

    
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.cart {
    color: #fefafa;
    width: 4%;
    font-size: 1.5em;
    height: auto;
    float: right;

}

#search-bar {
    max-width: 190px;
    width: 10em;
    float: right;
    color: #f3aef0
   
}

.search-input {
        width: 12em;
        border-style: none;
        border-radius: 0;
}

#search-icon {
    width: 0;
    height: auto;
    cursor: pointer;
    color: #fb55fa;

}

.button {
    color: #ffff;
    font-size: 20px;
}

footer p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: bisque;
    margin: 0%;
    text-align: right;
    


}

footer .copyright {
    font-size: 12px;
    text-align: right;
}

.imdb {
    text-align: right;
    font-style: italic;
}